.header {
  background-color: #736283;
  /*color: #c9aae4;*/
  padding: 20px 10px;
}

.header-title {
  color: #9cc8db;
}
.header h1 {
  padding: 0;
  margin: 0;
}
.non-link {
  text-decoration: none;
}
.navbar {
  padding-top: 20px;
}
.navbar a{
  color: #c9aae4;
}
footer {
  margin-top: 100px;
}

body {
  font-family: sans-serif;
  width: 800px;
  margin: 0 auto;
  color: #333;
}

.error {
  color: red;
  font-weight: bold;
}

label {
  display: block;
  font-size: 20px;
}

.title-input {
  width: 400px;
  /*height: 200px;*/
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

textarea {
  height: 600px;
  font-size: 14px;
  font-family: monospace;
}
hr {
  margin: 20px auto;

}

.art + art {
  margin-top: 20px;
}
.art-title {
  font-weight: bold;
  font-size: 20px;
}

.art-body {
  margin: 0;
  font-size: 17px;
}

.blog-entry-title {
  position: relative;
  border-bottom: 3px solid #666;
}

.blog-entry-created {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #999;
}

.blog-entry-spacer {
  width: 50%;
  /*border-bottom: 3px solid red;*/
  margin: 25px auto 50px;
}
.blog-entry-spacer:last-of-type {
  display: none;
}

.inline {
  display: inline;
}

.vote-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}
.vote-button:focus {
  outline: none;
}
.user-voted {
  /*font-size: 30px;*/
  /*color: blue;*/
}
.vote-button:active {
  color:red;
}

footer {
  margin: 0 auto;
  max-width: 100%;
}
.social {
  margin: 0 auto;
  max-width: 50%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  /*flex-direction: column;*/
}
.social-entry {
  max-width: 50px;
  color: black;
}
.social-entry i{
  font-size: 24px;
  color: #001233;
  text-shadow: 3px 3px 3px #aaa;
}
