body {
    margin: 0;
    background-color: #60506e;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    color: #c9c4cf;
}

.non-link {
    color: #c9c4cf;
    text-decoration: none;
}
.fa-nav-icon {
  padding: 0 10px;
}

.header {
    background-color: #210c36;
    padding: 20px 10px;
    text-align: center;
}

footer {
    margin-top: 20px;
    background-color: #4a3b58;
    padding: 50px;
        color: #c9c4cf;
}

.container {
    background-color: #3a3241;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    color: #cbc6cf;
    padding: 10px 30px;
}

.content h2 {
    margin-top: 0;
}

h1 {
    /*margin: 0 auto;*/
    text-align: center;
}


.header-title {
    font-family: 'Indie Flower', cursive;
    color: #95c8ec;
    font-size: 4.8rem;
    text-align: center;
    margin: 0 auto;
    /*text-shadow: 3px 3px white;*/
}

.header h1 {
    padding: 0;
    margin: 0;
}

.navbar {
    padding-top: 20px;
}

.navbar a:visited {
    color: #cac5cf;
}

.error {
    color: red;
    font-weight: bold;
}

label {
    display: block;
    font-size: 20px;
    text-transform: lowercase;
    font-variant: small-caps;
}

input[type=submit] {
    font-size: 24px;
}
#article-input {
    height: 600px;
}
.form-row{
  margin-bottom: 10px;
}
hr {
    margin: 20px auto;
}

.blog-votes, .vote-button {
    font-size: 2.4rem;
}
.disabled{
  opacity: 0.6;
  cursor: not-allowed;
}
.fabutton {
    background: none;
    padding: 0;
    border: none;
    color: white;
}
.fabutton:hover {
  color: red
}

@media (max-width: 549px) {
    .blog-entry-extra-info {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}

.blog-entry-extra-info {
    text-align: right;
}

.user-upvoted {
    font-size: 30px;
    color: #15bf59;
}

.user-downvoted {
    font-size: 30px;
    color: #f95e5e;
}

.blog-entry-spacer {
    width: 50%;
    border-bottom: 3px solid #999;
    margin: 25px auto 50px;
}

.blog-entry-spacer:last-of-type {
    display: none;
}

.inline {
    display: inline;
}

.page-button:link {
    color: #cac5cf;
}

.page-button:visited {
    color: #a09ba3;
}

.page-button:hover {
    color: #cbc6cf;
}

footer {
    margin: 0 auto;
    max-width: 100%;
}

.social {
    margin: 0 auto;
    max-width: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.social-entry {
    max-width: 50px;
}

.social-entry i {
    font-size: 28px;
    color: #c9c4cf;
}
.thanks {
  text-align: center;
}
