.header-title {
  margin: 3em 1em;
}
.non-link {
  text-decoration: none;
}
footer {
  margin-top: 100px;
}

body {
  font-family: sans-serif;
  width: 800px;
  margin: 0 auto;
  color: #333;
}

.error {
  color: red;
  font-weight: bold;
}

label {
  display: block;
  font-size: 20px;
}

.title-input {
  width: 400px;
  /*height: 200px;*/
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

textarea {
  height: 600px;
  font-size: 14px;
  font-family: monospace;
}
hr {
  margin: 20px auto;

}

.art + art {
  margin-top: 20px;
}
.art-title {
  font-weight: bold;
  font-size: 20px;
}

.art-body {
  margin: 0;
  font-size: 17px;
}

.blog-entry-title {
  position: relative;
  border-bottom: 3px solid #666;
}

.blog-entry-created {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #999;
}

.blog-entry-spacer {
  width: 50%;
  /*border-bottom: 3px solid red;*/
  margin: 25px auto 50px;
}
.blog-entry-spacer:last-of-type {
  display: none;
}
