<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <h2>AsciiChan</h2>

    <form class="" method="post">
        <label for="title">
            <div class="form-label">Title</div>
            <input type="text" name="title" value="{{ title }}">
        </label>
        <br>
        <br>
        <br>
        <label for="art">
          <div class="form-label">Art</div>
          <textarea name="art" rows="8" cols="80">{{ art }}</textarea>
        </label>

        <div class="error">{{ error }}</div>
        <input type="submit">
    </form>

    <hr>
    {% for art in arts %}
    <div class="art">
      <div class="art-title">{{art.title}}</div>
      <pre class="art-body">{{art.art}}</pre>
    </div>
    {% endfor %}
{% endblock %}
