<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Awesome yo</title>
  </head>
  <body>
    <h1 style="background-color: #ddd; color #888; margin: 0; height: 50px;">Udacity templates</h1>
    <a href="fizzbuzz">FizzBuzz</a>
    &ndash; <a href="/">Home</a>
    &ndash; <a href="/rot13">Rot13</a>
    &ndash; <a href="/signup">Sign Up!</a>
    &ndash; <a href="/ascii_chan">Ascii Chan!</a>
    {% block content %}
    {% endblock %}
    <footer>My Awesome footer</footer>
  </body>
</html>
