<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="refresh" content="3; url={{ redirect }}"/> -->
    <link rel="stylesheet" href="/css/base.css">
    <title>Error page</title>
  </head>
  <body>
    <h2 class="error">
      {% if errorType=='VoteOnOwnPostNotAllowed' %}
      Voting on yourself is not allowed
      {% elif errorType=='Not_valid_blog_id_or_wrong_user' %}
      This is not a valid post, or you do not have the rights to access this page.
      {% elif errorType=='TooShort' %}
      The field is too short.
      {% elif errorType=='UserNotLoggedIn' %}
      No usersession found.
      {% elif errorType=='unknown' %}
      An unknown error occured.
      {% endif %}
    </h2>
    Click <a href="/">here</a> to return to the mainpage.
  </body>
</html>
