<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<h2>Login form</h2>
{% if error_invalid_login %}
<div class="error-msg">Sorry, the username and password did not match</div>
{% endif %}
<form method="post">
  <table>
    <tbody>
      <tr>
        <td class="label">Username</td>
        <td><input type="text" name="username" value="{{ username }}"></td>
      </tr>
      <tr>
        <td class="label">Password</td>
        <td><input type="password" name="password"></td>
      </tr>
      <tr>
      </tr>
    </tbody>
  </table>
<input type="submit", value="Login">
</form>
{% endblock %}
