<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <div class="row login">
        <h2>Login form</h2>
        {% if error_invalid_login %}
            <div class="error row">Sorry, the username and password did not match</div>
        {% endif %}
        <form method="post">
            <div class="row form-row">
                <label for="input-username" class="label">Username</label>
                <input type="text" id="input-username" name="username" placeholder="Username" value="{{ username }}">
            </div>

            <div class="row form-row">
                <label for="input-password" class="label">Password</label>
                <input type="password" id="input-password" name="password" placeholder="Password">
            </div>
            <label><input type="checkbox" name="remember_me" id="" value="True"> Remember me</label>
            <input class="button-primary" type="submit" , value="Login">
        </form>
    </div>
{% endblock %}
