<!DOCTYPE html> {% extends "base.html" %} {% block content %}
<div class="row new-post">
    {% if blog_entry %}
    <h2>Edit blogpost:</h2><q class="disabled">{{blog_entry.title}}</q>
    {% else %}
    <h2>Create new blog post</h2>
    {% endif %}
    {% if error_notUnique %}
    <div class="row error">The title is not unique</div>
    {% endif %}
    {% if error_missing_fields %}
    <div class=" row error">Need both the Title ad the Article</div>
    {% endif %}
    <form method="post">
        <div class="row columns form-row">
            <label for="title-input" class="form-label">Title</label>
            <input class="u-full-width" id="title-input" type="text" placeholder="Enter a title here" name="title" value="{{ title }}">
        </div>
        <div class="row form-row">
            {% if blog_entry %}
            <input type="hidden" name="blog_id" value="{{ blog_entry.key().id() }}">
            {% endif %}
            <label for="article-input" class="form-label">Article</label>
            <textarea name="article" class="u-full-width article-input" id="article-input" placeholder="Enter your article here. HTML-tags are allowed.">{{ article }}</textarea>
        </div>
        {% if verify_deletion %}
        <label><input type="checkbox" name="verify_deletion_checkbox"><span class="label-body error">Check this to verify that you really want to delete this post</span></label>
        {% endif %}
        <input class="button-primary" type="submit" value="submit">
        {% if blog_entry %}
        <input class="button-dangerous" name="delete" type="submit" value="Delete post">
        {% endif %}
    </form>

    <hr>
</div>
{% endblock %}
