<!DOCTYPE html>
<div class="page-buttons">
    {% if pages > 1 %}
    {% if currentPage != 1 %}
        <a class="page-button" href="/?page={{ currentPage -1 }}">Prev</a>
    {% endif %}
        {% for page in range(1, pages + 1) %}

            {% if currentPage == page %}
                <span class="page-current">
                    [ {{ page }} ]
                </span>
            {% else %}
                    <a class="page-button" href="/?page={{page}}">{{ page }}</a>
            {% endif %}
        {% endfor %}
        {% if currentPage != pages %}
            <a class="page-button" href="/?page={{ currentPage +1 }}">Next</a>
        {% endif %}
    {% endif %}
</div>
