<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <div class="row signup-form">
        <h2>Signup form</h2>
        {% if errro_username_already_in_use %}
            <div class="error">Username is already in use!</div>
        {% endif %}
        <form method="post">

            <div class="row">
                <div class="six columns form-row">
                    <label for="username-input">Username</label>
                    <input class="u-full-width" type="text" name="username" placeholder="Username" value="{{ username }}">
                    {% if error_username_invalid %}
                        <div class="error full-width">Username is not valid!</div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="six columns form-row">
                    <label for="input-password">Password</label>
                    <input class="u-full-width" id="input-password" type="password" name="password" placeholder="Password">
                    {% if error_password_invalid %}
                        <div class="error">Password is not valid!</div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="six columns form-row">
                    <label for="input-verify">Verify Password</label>
                    <input class="u-full-width" id="input-verify" type="password" name="verify" placeholder="Verify password">
                    {% if error_passwords_mismatch %}
                        <div class="error">Passwords does not match!</div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="six columns form-row">
                    <label for="input-email">Email (optional)</label>
                    <input class="u-full-width" type="text" name="email" id="input-email" value="{{ email }}" placeholder="Email (optional)">
                    {% if error_email_invalid %}
                        <div class="error">Email is not valid! If you don't want to give one, just leave the field blank.</div>
                    {% endif %}
                </div>
            </div>
            <input class="button-primary" type="submit">
        </form>
    </div>
{% endblock %}
