<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="3; url={{ redirect }}"/>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>
    <link rel="stylesheet" href="/css/base.css">
    <title>Redirection page</title>
  </head>
  <body>
    <div class="container thanks">
<div class="row thanks">
  <h2 class="center-text">Thank you. <br>You will be redirected soon.</h2>
  <p>If you don't want to wait, click <a href="{{ redirect }}">here</a></p>
</div>
    </div>
  </body>
</html>
