<!DOCTYPE html>
<div class="row article">
    <div class="row article-title">
        <h3 class="blog-entry-header eight columns">
            <a class="non-link" href="/blogs/{{ blog_entry.key().id() }}">{{blog_entry.title}}</a>
        </h3>
        <div class="four columns blog-entry-extra-info">
            {% if user_owns_post %}
                <div class="edit_post">
                    <a href="/edit_blog_post?blog_id={{ blog_entry.key().id() }}">Edit</a>
                </div>
            {% endif %}
            <div class="created_by_and_when">
                <div class="blog-entry-created-by">
                    by
                    {{ blog_entry.created_by.username }}
                </div>
                <div class="blog-entry-created">{{blog_entry.created|datetime}}</div>
                {% if blog_entry.created != blog_entry.last_modified %}
                <div class="blog-entry-last-modified">Modified: {{blog_entry.last_modified|datetime}}</div>
                {% endif %}
            </div>

            <div class="blog-votes">
                <form method="post" class="inline">
                    <button
                        type="submit"
                        name="voteDirection"
                        value="up"
                        class="fabutton vote-button vote-button-up
                {% if user_upvoted %}
                user-upvoted
                {% endif %}
                {% if user_owns_post %}
                  disabled
                  {% endif %}
                  "
                        {% if user_owns_post %}
                        disabled="disabled"
                        {% endif %}>
                        <i class="
                        fa
                        fa-thumbs-up" aria-hidden="
                        true"></i>
                    </button>
                    <span class="voteCount">{{ blog_entry.getVotes()['up']}}</span>
                    <button
                        type="submit"
                        name="voteDirection"
                        value="down"
                        class="fabutton vote-button vote-button-down
                {% if user_downvoted %}
                user-downvoted
                {% endif %}
                {% if user_owns_post %}
                  disabled
                {% endif %}"
                        {% if user_owns_post %}
                        disabled="disabled"
                        {% endif %}>
                        <i class="
                    fa
                    fa-thumbs-down" aria-hidden="
                    true"></i>
                    </button>
                    <span class="voteCount">{{ blog_entry.getVotes()['down']}}</span>
                    <input type="hidden" name="blog_id" value="{{ blog_entry.key().id() }}">
                </form>
            </div>
        </div>
    </div>
    <div class="blog-entry-body">
        <p class="blog-entry-body-p">{{ blog_entry.output_html_article() | safe }}</p>
    </div>
    {% if single_post %}
        <div class="blog-entry-comments">
            <hr>
            <h4>Comments</h4>
            {% if blog_entry.get_comments().count() > 0 %}
                {% for comment in blog_entry.get_comments().order('-created') %}
                    <div class="row comment-item">
                        <div class="comment-item-header disabled">
                            {{comment.commentBy.username}}
                            &ndash;
                            {{ comment.created|datetime}}
                            {% if user and user.key().id() == comment.commentBy.key().id() %}
                                <button type="button" name="button" onclick="edit_comment({{ loop.index0 }}, '{{ comment.comment}}','{{ comment.key().id() }}')">edit>
                            {% endif %}
                        </div>
                        <div class="comment-id-body" id="comment-id-body-{{ loop.index0 }}">
                            <blockquote id="comment-text-{{ loop.index0 }}" >{{ comment.comment }}</blockquote>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Be the first to leave a comment</p>
            {% endif %}
            {% if user %}
                <form class="row add-comment-form" method="post">
                    <label for="comment-input">Comment</label>
                    <input type="hidden" name="blog_id" value="{{ blog_entry.key().id() }}">
                    <textarea name="comment" class="eight columns comment-input" id="comment-input" placeholder="Comment here, html not allowed."></textarea>
                    <input class="three columns button-primary" type="submit" value="Post">
                </form>
            {% endif %}
        </div>
    {% endif %}
</div>
<script type="text/javascript">
function edit_comment(comment_html_id, original_comment, comment_id){
  var comment_body = document.getElementById("comment-id-body-" + comment_html_id);
  var comment_form = document.getElementById("comment-edit-form");
  var comment_text = document.getElementById("comment-text-" + comment_html_id);

  if (!document.body.contains(comment_form)){
    comment_text.style.display = 'none'
    comment_body.innerHTML += `
    <form class="row add-comment-form" method="post" id="comment-edit-form">
        <label for="comment-input">Comment</label>
        <input type="hidden" name="blog_id" value="{{ blog_entry.key().id() }}">
        <input type="hidden" name="comment_id" value="` + comment_id +`">
        <textarea name="comment" class="eight columns comment-input" id="comment-input">` + original_comment + `</textarea>
        <input class="three columns button-primary" type="submit" value="Post">
        <button type="button" class="three columns button-cancel" onclick="cancel_editing(` + comment_html_id + `)">Cancel</button>
    </form>
    `
  };
}

function cancel_editing(comment_html_id){
  var comment_form = document.getElementById("comment-edit-form");
  var comment_text = document.getElementById("comment-text-" + comment_html_id);
  comment_form.remove()
  comment_text.style.display = 'block'
}
</script>
